<h2>Cadastro</h2>
<form name="form">
    <div class="row">
        <div class="col-md-6">
            <label>Nome:</label>
            <input type="text" name="name" ng-model="addContact.nome" class="form-control" required>
            <p ng-show="form.name.$invalid" class="help-block">Seu nome é obrigatório</p>
        </div>
        <div class="col-md-6">
            <label>Sobrenome:</label>
            <input type="text" name="sobrenome" ng-model="addContact.sobrenome" class="form-control" required>
            <p ng-show="form.sobrenome.$invalid" class="help-block">Seu sobrenome é obrigatório</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <label>Telefone:</label>
            <input type="text" name="telefone" ng-model="addContact.telefone" class="form-control" required>
            <p ng-show="form.telefone.$invalid" class="help-block">Seu telefone é obrigatório</p>
        </div>
        <div class="col-md-4">
            <label>Apelido:</label>
            <input type="text" name="apelido" ng-model="addContact.apelido" class="form-control" required>
            <p ng-show="form.apelido.$invalid" class="help-block">Seu apelido é obrigatório</p>
        </div>
        <div class="col-md-4">
            <label>Data de cadastro:</label>
            <input type="text" name="datacadastro" ng-model="addContact.datacadastro" class="form-control" required>
            <p ng-show="form.datacadastro.$invalid" class="help-block">Sua data de cadastro é obrigatória</p>
        </div>
    </div>	
<br>
    <div>
        <button type="button" class="btn btn-success" ng-click="addContact()"><span class="glyphicon glyphicon-floppy-save"></span>Salvar</button>        
        <a class="btn btn-default" href="#/" role="button">Cancelar</a>
    </div>

</form>
